/module-ingest/labels.json
/module-ingest/records.json
/module-ingest/src/test/resources/data_description.txt
/module-ingest/src/test/resources/test.csv
/module-ingest/src/test/resources/train.csv
/module-pipeline-houseprice/labels.json
/module-pipeline-houseprice/records.json
/module-pipeline-houseprice/src/main/resources/labels.json
/module-pipeline-houseprice/src/main/resources/records.json
/module-pipeline-houseprice/test.ser
/records.json
/trainedstate.ser
/artifact.info
/labels.json
/*.tar
/module-ingest-housedata/target
/module-ingest-housedata/records.json
/module-ingest-housedata/labels.json
/*.ser
/.idea
/module-ingest-housedata/.idea
/build
/src/main/scripts/build
/module-pipeline-houseprice/src/test/resources/records.json
/module-pipeline-houseprice/src/test/resources/labels.json
/module-pipeline-rest/src/test/resources/trained.ser
/src/main/scripts/introspect.sh
/module-pipeline-estimate-houseprice/src/test/resources/prices.json
/module-pipeline-estimate-houseprice/src/test/resources/houses.json
/module-ingestion-housedata/.idea/.name
/module-ingestion-housedata/.idea/compiler.xml
/module-ingestion-housedata/.idea/encodings.xml
/module-ingestion-housedata/.idea/misc.xml
/module-ingestion-housedata/.idea/vcs.xml
/module-ingestion-housedata/.idea/workspace.xml
/module-ingestion-housedata/target/classes/eu/redzoo/ml/deploy/ingestion/Ingestion$ExcelReader.class
/module-ingestion-housedata/target/classes/eu/redzoo/ml/deploy/ingestion/Ingestion$Field.class
/module-ingestion-housedata/target/classes/eu/redzoo/ml/deploy/ingestion/Ingestion$House.class
/module-ingestion-housedata/target/classes/eu/redzoo/ml/deploy/ingestion/Ingestion.class
/module-ingestion-housedata/target/ingestion-housedata-1.0.3.jar
/module-ingestion-housedata/target/maven-archiver/pom.properties
/module-ingestion-housedata/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/module-ingestion-housedata/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/module-ingestion-housedata/.idea/$PRODUCT_WORKSPACE_FILE$
